body {
  background-color: white;
  color: #0000FF;
}
.container {
  margin: 0 auto;
  width: 50%;
  font-size: 18px;
  color: black;
  line-height: 1.25;
}
nav {
  background-color: #868686;
  float: left;
  position: fixed;
  width: 100%;
}

figcaption{
  font-size: 15px;
  padding-bottom: 40px;
}

h1{
font-size: 32px;
font-weight: bold
}

h3{
font-size: 18px;
color: #535353;
}

.author{
  font-size:15px;
  font-weight:bold;  
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}
